@media (min-width: 992px) {
  .col-md-3 {
    padding-left: 0;
  }
}

.main .user {
  width: 96%;
  margin: 0 auto;
  min-width: 250px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.main .user-portrait {
  width: 100px;
  margin: 25px auto;
}

.main .user-info p {
  text-indent: 2em;
  font-size: 12px;
}

.main .article {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}

.main .article .panel {
  margin-bottom: 0;
  background-color: #fff;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.main .article .panel-title {
  font-weight: bold;
}

.main .article .panel-body p {
  text-indent: 2em;
}

.main .article .panel-footer {
  background-color: #fff;
  border: none;
}

.main .article-tips span {
  font-size: 14px;
  color: #ddd;
}

.main .article-tips a {
  color: #ddd;
}

.main .article-date {
  margin-top: 10px;
}

.main .article-date span {
  padding-right: 5px;
  font-size: 10px;
  cursor: pointer;
}

.main .jumpTo {
  display: block;
  padding: 5px 20px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #eee;
  text-align: center;
  color: #666;
  cursor: pointer;
}

.main .jumpTo:hover {
  color: #111;
}
