
body {
  background-color: #f3f6f7;
}

.navbar {
  border-radius: 0;
  .form-group {
    position: relative;
    button {
      color: #ccc;
      background-color: #fff;
      border-color: transparent;
      position: absolute;
      right: 0;
      padding: 0;
      margin: 6px 12px;
    }
  }
}

.navbar-inverse .navbar-brand {
  color: #fff;
}